<h2> Estatísticas e sobre nós: </h2>
<div>
<h2 class="titulo"> Suas estatísticas: </h2>
<p class="txtConteudo"> Quantidade de jogos incluídos: {{numJogados}}</p> 
<p class="txtConteudo"> Quantidade de jogos que você tem: {{numTenho}} </p> 
<p class="txtConteudo"> Quantidade de jogos que você quer: {{numQuero}} </p>
<p class="txtConteudo"> A quantidade de gêneros de jogos que você listou é: {{generosList}} </p>
</div>

<div>
<h2 class="titulo"> Sobre nós: </h2>
<h3> Sistema desenvolvido para aula de Aplicações Interativas e Design Responsivo por: </h3>
<div> <h3> Lucas Santos Silva, Nicolas Alberto e Henrique Pereira. </h3> </div>
</div>
