<h2> Estatísticas e sobre nós: </h2>

<div class="estatisticas">
    <div class="textoEstatisticas">
        <h2 class="titulo"> Suas estatísticas: </h2>
        <p class="txtConteudo titulo"> Quantidade de jogos incluídos: <a style="font-weight: normal;"> {{numJogados}} </a> </p> 
        <p class="txtConteudo titulo"> Quantidade de jogos que você tem: <a style="font-weight: normal;"> {{numTenho}} </a>  </p> 
        <p class="txtConteudo titulo"> Quantidade de jogos que você quer: <a style="font-weight: normal;"> {{numQuero}}</a>   </p>
        <p class="txtConteudo titulo"> A quantidade de gêneros de jogos que você listou é: <a style="font-weight: normal;">{{generosList}}</a> </p>
    </div>
    <div class="fotoEstatisticas">
        <img src="https://i.ibb.co/VTfn01S/167486.png" class="estatistica">
    </div>
</div>

<div class="sobreNos">
<h2 class="titulo"> Sobre nós: </h2>
<div>
    <p class="txtConteudo"> Sistema de cadastro de jogos onde o usuário pode listar games que o mesmo possui, quer ou já finalizou. </p>
    <div>
        <p class="txtConteudo">Sendo possível atribuir gêneros, notas e reviews a respeito do jogo.</p>
    </div>
    <div>
        <p class="txtConteudo"> Havendo a possibilidade de editar ou excluir os jogos já cadastrados </p>
    </div>
</div>

<div class="creditos">
<h3 > Sistema desenvolvido para aula de Aplicações Interativas e Design Responsivo por: </h3>
<div> <h3> Lucas Santos Silva, Nicolas Alberto e Henrique Pereira. </h3> </div>
</div>
</div>