<h2> <mat-icon class="iconGenero">format_list_bulleted</mat-icon> Gêneros</h2>

<div class="inputsJogo">
  <a (click)="novo();" class="botaoNovo" target="_blank">
    <div class="margin-top: 100px !important">
      <mat-icon>add</mat-icon>
    </div>
  </a>
</div>

<div *ngIf="genero" class="inputJogo">
  <mat-form-field appearance="outline">
    <mat-label class="icone">Nome</mat-label>
    <input matInput placeholder="Placeholder"  [(ngModel)]="genero.nome">
  </mat-form-field>

  <mat-form-field appearance="outline" class="inputsJogo">
    <mat-label>Ícone:</mat-label>
      <mat-select [(ngModel)]="genero.icone" multiple>
        <mat-option value="mood_bad"> <mat-icon>mood_bad</mat-icon> </mat-option> 
        <mat-option value="directions_car_filled"> <mat-icon>directions_car_filled</mat-icon> </mat-option> 
        <mat-option value="psychology"> <mat-icon>psychology</mat-icon> </mat-option>
        <mat-option value="extension"> <mat-icon>extension</mat-icon> </mat-option>
        <mat-option value="sports_mma"> <mat-icon>sports_mma</mat-icon> </mat-option>
        <mat-option value="sports_soccer"> <mat-icon>sports_soccer</mat-icon> </mat-option>
        <mat-option value="piano"> <mat-icon>piano</mat-icon> </mat-option>
      </mat-select>
  </mat-form-field>
<div>
  <button mat-flat-button color="primary" (click)="salvar()" class="inputsJogo">Salvar</button>
  <button mat-flat-button color="warn" (click)="cancelar()" class="inputsJogo">Cancelar</button>
</div>
</div>

<div class="blocoGeneros">
  <mat-table [dataSource]="generos" class="blocoGeneros">
    
    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef class="headerTitle">Nome</mat-header-cell>
      <mat-cell *matCellDef="let genero" class="txtNome"> {{ genero.nome }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="icone">
      <mat-header-cell *matHeaderCellDef class="headerTitle">Ícone</mat-header-cell>
      <mat-cell *matCellDef="let genero" class="txtConteudo"> <mat-icon> {{ genero.icone }} </mat-icon> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <mat-header-cell *matHeaderCellDef class="headerTitle"> Ações </mat-header-cell>
      <mat-cell *matCellDef="let genero">
        <button mat-button (click)="atualizar(genero)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button color="warn" (click)="excluir(genero.id)">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: colunas"></mat-row>
  </mat-table>
</div>
