<h2>Géneros</h2>

<div>
  <button mat-flat-button color="primary" (click)="novo();">Novo</button>
</div>

<div *ngIf="genero">
  <mat-form-field appearance="outline">
    <mat-label>Nome</mat-label>
    <input matInput placeholder="Placeholder"  [(ngModel)]="genero.nome">
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="salvar()">Salvar</button>
  <button mat-flat-button color="warn" (click)="cancelar()">Cencelar</button>
</div>

<div>
  <mat-table [dataSource]="generos" class="">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let genero">{{ genero.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
      <mat-cell *matCellDef="let genero"> {{ genero.nome }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <mat-header-cell *matHeaderCellDef>
        Ações
      </mat-header-cell>
      <mat-cell *matCellDef="let genero">
        <button mat-button (click)="atualizar(genero)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button color="warn" (click)="excluir(genero.id)">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: colunas"></mat-row>
  </mat-table>
</div>
