<mat-toolbar color="primary">
  <mat-toolbar-row >
    <button mat-icon-button	(click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>MyGList</h1>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav class="sidenav" #sidenav mode="over">
    <mat-nav-list>
      <a mat-list-item routerLink="/jogos">
        <mat-icon class="menu-icon">games</mat-icon>
        Jogos
      </a>
      <a mat-list-item routerLink="/generos">
        <mat-icon class="menu-icon">transgender</mat-icon>
        Género
      </a>
      <a mat-list-item routerLink="/sobre">
        <mat-icon class="menu-icon">help</mat-icon>
        Sobre
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="min-height: calc(100vh - 64px);">
      <main>
        <mat-card>
          <router-outlet></router-outlet>
        </mat-card>
      </main>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
