<h2>Meus jogos:</h2>

<div class="inputsJogo">
  <button mat-flat-button color="primary" (click)="novo();">Novo</button>
</div>

<div *ngIf="jogo">
  
<div>
  <mat-form-field appearance="outline" class="inputsJogo">
      <mat-label>Nome:</mat-label>
      <input matInput placeholder="João Silva"  [(ngModel)]="jogo.nome">
  </mat-form-field>

  <mat-form-field appearance="outline" class="inputsJogo">
    <mat-label>Estado:</mat-label>
    <mat-select [(ngModel)]="jogo.estado">
      <mat-option value="Quero">Quero</mat-option>  
      <mat-option value="Tenho">Tenho</mat-option>
      <mat-option value="Zerei">Zerei</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field appearance="outline" class="inputsJogo">
  <mat-label>Gêneros:</mat-label>
    <mat-select [(ngModel)]="jogo.generos" multiple>
      <mat-option *ngFor="let genero of generos" value="{{genero.nome}}">  <mat-icon>{{genero.icone}}</mat-icon> {{ genero.nome }} </mat-option> 
    </mat-select>
</mat-form-field>
</div>

<div>
<mat-form-field appearance="outline" class="inputsJogo">
  <mat-label>Review:</mat-label>
  <input matInput [(ngModel)]="jogo.review">
</mat-form-field>

<mat-form-field appearance="outline" class="inputsJogo">
  <mat-label>Nota:</mat-label>
  <input matInput placeholder="10"  [(ngModel)]="jogo.nota">
</mat-form-field>
</div>

<div>
<mat-form-field appearance="outline" class="inputsJogo">
  <mat-label>Sinopse: </mat-label>
  <input matInput [(ngModel)]="jogo.sinopse">
</mat-form-field>
</div>

<div>
  <button class="inputsJogo" mat-flat-button color="primary" (click)="salvar()">Salvar</button>
  <button class="inputsJogo" mat-flat-button color="warn" (click)="cancelar()">Cancelar</button>
</div>

</div>

<div>
  <mat-table class="inputsJogo" [dataSource]="jogos">

    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
      <mat-cell *matCellDef="let jogo"> {{ jogo.nome }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="sinopse">
        <mat-header-cell *matHeaderCellDef>Sinopse</mat-header-cell>
        <mat-cell *matCellDef="let jogo"> {{ jogo.sinopse }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="generos">
        <mat-header-cell *matHeaderCellDef>Gêneros:</mat-header-cell>
        <mat-cell *matCellDef="let jogo"> {{ jogo.generos }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="estado">
        <mat-header-cell *matHeaderCellDef>Status:</mat-header-cell>
        <mat-cell *matCellDef="let jogo"> {{ jogo.estado }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="review">
        <mat-header-cell *matHeaderCellDef>Review:</mat-header-cell>
        <mat-cell *matCellDef="let jogo"> {{ jogo.review }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="nota">
        <mat-header-cell *matHeaderCellDef>Nota:</mat-header-cell>
        <mat-cell *matCellDef="let jogo"> {{ jogo.nota }}</mat-cell>
      </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>
        Ações
      </mat-header-cell>
      <mat-cell *matCellDef="let jogo">
        <button mat-button (click)="editar(jogo)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button color="warn" (click)="remover(jogo.id)">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: colunas"></mat-row>
  </mat-table>
</div>