<h2>  <mat-icon>collections_bookmark</mat-icon> Meus jogos </h2>

<div class="inputsJogo">
  <a (click)="novo();" class="botaoNovo" target="_blank">
    <div class="margin-top: 100px !important">
      <mat-icon>add</mat-icon>
    </div>
  </a>
</div>

<div *ngIf="jogo" class="inputJogo">
  
<div>
  <mat-form-field appearance="outline" class="inputsJogo">
      <mat-label>Nome:</mat-label>
      <input matInput placeholder="João Silva"  [(ngModel)]="jogo.nome">
  </mat-form-field>

  <mat-form-field appearance="outline" class="inputsJogo">
    <mat-label>Estado:</mat-label>
    <mat-select [(ngModel)]="jogo.estado">
      <mat-option value="Quero">Quero</mat-option>  
      <mat-option value="Tenho">Tenho</mat-option>
      <mat-option value="Zerei">Zerei</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field appearance="outline" class="inputsJogo">
  <mat-label>Gêneros:</mat-label>
    <mat-select [(ngModel)]="jogo.generos" multiple>
      <mat-option *ngFor="let genero of generos" value="{{genero.nome}}">  <mat-icon>{{genero.icone}}</mat-icon> {{ genero.nome }} </mat-option> 
    </mat-select>
</mat-form-field>
</div>

<div>
<mat-form-field appearance="outline" class="inputsJogo" id="inputReview">
  <mat-label>Review:</mat-label>
  <input matInput [(ngModel)]="jogo.review">
</mat-form-field>

<mat-form-field appearance="outline" class="inputsJogo">
  <mat-label>Nota:</mat-label>
  <input matInput placeholder="10"  [(ngModel)]="jogo.nota">
</mat-form-field>
</div>

<div>
<mat-form-field appearance="outline"  id="inputSinopse" class="inputsJogo">
  <mat-label>Sinopse: </mat-label>
  <input matInput [(ngModel)]="jogo.sinopse"> 
</mat-form-field>
</div>

<div>
  <button class="inputsJogo" mat-flat-button color="primary" (click)="salvar()">Salvar</button>
  <button class="inputsJogo" mat-flat-button color="warn" (click)="cancelar()">Cancelar</button>
</div>

</div>

<div class="blocoJogos"> 
  <mat-table class="blocoJogos inputsJogo" matSort [dataSource]="jogos">

    <ng-container matColumnDef="nome" > 
      <mat-header-cell *matHeaderCellDef mat-sort-header class="headerTitle">Nome</mat-header-cell>
      <mat-cell *matCellDef="let jogo" class="txtNome"> {{ jogo.nome }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="sinopse">
        <mat-header-cell *matHeaderCellDef class="headerTitle">Sinopse</mat-header-cell>
        <mat-cell *matCellDef="let jogo" class="txtConteudo"> {{ jogo.sinopse }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="generos">
        <mat-header-cell *matHeaderCellDef class="headerTitle">Gêneros:</mat-header-cell>
        <mat-cell *matCellDef="let jogo, let genero" class="txtConteudo"> {{ jogo.generos }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="estado">
        <mat-header-cell *matHeaderCellDef class="headerTitle">Status:</mat-header-cell>
        <mat-cell *matCellDef="let jogo" id="status"> {{ jogo.estado }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="review">
        <mat-header-cell *matHeaderCellDef class="headerTitle">Review:</mat-header-cell>
        <mat-cell *matCellDef="let jogo" class="txtConteudo"> {{ jogo.review }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="nota">
        <mat-header-cell *matHeaderCellDef class="headerTitle" mat-sort-header>Nota:</mat-header-cell>
        <mat-cell *matCellDef="let jogo" id="nota" class="nota"> {{ jogo.nota }}</mat-cell>
      </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef class="headerTitle"> Ações </mat-header-cell>
      <mat-cell *matCellDef="let jogo">
        <button mat-button (click)="editar(jogo)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button color="warn" (click)="remover(jogo.id)">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: colunas" id="teste"></mat-row>
  </mat-table>
</div>