*{
    padding: 2px;
}


.inputsJogo{
    margin-left: 25px;
}

.tableColor{
    background-color: #FFAAF1;
}

.notaBaixa{
    font-size: 20px;
    color: red;
    font-weight: bold;
}

.notaMedia{
    font-size: 20px;
    color: rgb(129, 216, 129);
    font-weight: bold;
}

.notaAlta{
    font-size: 20px;
    color: darkgreen;
    font-weight: bold;
}

.quero{
    font-weight: bold;
    background: url('https://i.ibb.co/qYkbDXN/wait-pngrepo-com.png');
    background-size: 20%;
    background-repeat: no-repeat;
    background-position:  center;
}

.zerei{
    font-weight: bold;
    background-color: green;
    background: url('https://i.ibb.co/t2k2dNX/checkmark-24-512.png');
    background-size: 20%;
    background-repeat: no-repeat;
    background-position:  center;
}

.tenho{
    font-weight: bold;
    background: url('https://i.ibb.co/2jDkmnG/Thumb-up-icon-2-svg.png" alt="Thumb-up-icon-2-svg');
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: center;
}

.headerTitle{
    font-weight: bold;
    font-size: 15px;
    color: darkslategray;
}

.txtNome{
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.txtConteudo{
    color: black;
    font-size: 16px;
}

.nota{
    margin-left: 20px;
}

.inputJogo{
    border: 1.5px solid rgb(219, 226, 219);
    border-radius: 6px;
    margin-bottom: 20px;
}

.blocoJogos{
    background-color: rgb(238, 236, 232);
    border-radius: 7px;
}

.botaoNovo{
    position:fixed;
    width:40px;
    height:40px;
    bottom:45px;
    right:45px;
    background-color: darkmagenta;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 1px 1px 2px black;
    z-index:1000;
    cursor: pointer;
  }
  
  .icone{
    height: 20px;
    color: black;
  }
#inputSinopse{
    width: 675px !important;
}

#inputReview{
    width: 430px !important;
}

#sinopse{
    height: 150px !important;
}